@import 'common';

$fontSize: 24px;

.tableArea {
  grid-row: 3 / span 4;
  grid-column-start: 3;
  grid-column-end: 6;
  border-radius: 40% 40% 40% 40%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(18, 1fr);
  justify-items: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  background-size: cover;
  height: 440px;
}

.tableMsgArea {
  grid-row: 6 / span 7;
  grid-column-start: 3;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.tableMsgText {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: normal;
  color: black;
  /* animation: blinkingText 1.2s infinite; */
}

.tableTopCardArea {
  grid-row-start: 2;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 7;
  border: none;
  margin-top: 10px;
}

.tableTopMsgArea {
  grid-row: 2;
  grid-column: 4 / span 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tableLeftCardArea {
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 4;
  border: none;
}

.tableLeftMsgArea {
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 5;
  border: none;
}

.tableRightCardArea {
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 8;
  grid-column-end: 10;
  border: none;
}

.tableRightMsgArea {
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 7;
  grid-column-end: 10;
  border: none;
}

.tableBottomCardArea {
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 5;
  grid-column-end: 7;
  border: none;
  margin-bottom: 10px;
}

.tableCard {
  width: 140px;
  height: 180px;
}

.playerPlayCardText {
  font-family: SansSerif;
  font-size: 24px;
  font-weight: normal;
  color: black;
  animation: blinkingText 1.2s infinite;
}

.playerWaitCardText {
  font-family: SansSerif;
  font-size: 64px;
  font-weight: normal;
  color: black;
  animation: blinkingText 1.2s infinite;
}

.waitCardText {
  font-family: SansSerif;
  font-size: 64px;
  font-weight: normal;
  color: black;
}

.playerActionArea {
  grid-row: 6 / span 7;
  grid-column: 2 / span 8;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: #ffd9b3;
  animation: blinkingBorder 1s step-end infinite;
  background-color: lightGray;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.kittyActionArea {
  grid-row: 13 / span 6;
  grid-column: 2 / span 8;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #ffd9b3;
  animation: blinkingBorder 1s step-end infinite;
  background-color: lightGray;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.playerActionBtn {
  margin: 10px;
  padding: 10px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
}

.kittyDiv {
  grid-row: 6 / span 7;
  grid-column-start: 2;
  grid-column-end: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 300px;
  width: 95%;
}

.kittyCardWrapper {
  overflow: hidden;
  padding: 0;
  margin: 2px;
}

.kittyCardWrapper:last-child, .kittyCardWrapper:hover {
  overflow: visible;
  padding: 0;
}

.kittyCardButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.kittyCardImg {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 130px;
  height: 170px;
  object-fit: cover;
}

.topPlayerBidArea {
  grid-row: 2;
  grid-column: 5 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftPlayerBidArea {
  grid-row: 9;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.rightPlayerBidArea {
  grid-row: 9;
  grid-column: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.bottomPlayerBidArea {
  grid-row: 17;
  grid-column: 5 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.currentPlayerBidArea {
  grid-row: 9;
  grid-column: 5 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #ffd9b3;
  animation: blinkingBorder 1s step-end infinite;
}

.bidWonBidArea {
  grid-row: 7 / span 2;
  grid-column: 2 / span 8;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 8px;
  border-color: #ffd9b3;
  animation: blinkingBorder 1s step-end infinite;
}

.playerBidDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.biddingPlayerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-style: solid;
}

.playerBidText {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
  color: #000000;
}

.playerBidTextTitle {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
  color: #000000;
  margin-right: 10px;
}

.biddingPlayerText{
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
  color: black;
  animation: blinkingText 1.2s infinite;
}

.bidSelectInput {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
  color: black;
  width: 120px;
}

.playerActionText {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: normal;
  color: black;
}

.playerActionSelectInput {
  font-family: SansSerif;
  font-size: $fontSize;
  font-weight: bold;
  color: black;
  width: 120px;
  margin-top: 10px;
}

