$cfgDlgBgColor: #cce5d9;
$btnBgColor: #067325;
$btnTextColor: white;

@mixin jg-button {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: $btnBgColor;
  color: $btnTextColor;
  border-radius: 10%;
  font-family: SansSerif;
  font-size: 16px;
}

.jgNormalBtn {
  @include jg-button;
}

@keyframes blinkingBorder {
  from, to {
    border-color: transparent
  }
  50% {
    border: solid 8px blue;
  }
}

@keyframes blinkingText {
  0%{     color: #000;        }
  49%{    color: #000;        }
  60%{    color: transparent; }
  99%{    color: transparent; }
  100%{   color: #000;        }
}

