@import 'common';

.lobbyView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbyWelcomeDiv {
  margin-top: 40px;
}

.lobbyInfoDiv {
  margin-top: 20px;
}

.lobbyWelcomeMsg {
  font-weight: bold;
  font-size: 24px;
}

.lobbyInfoMsg {
  font-weight: normal;
  font-size: 22px;
}

.lobbyItemsArea {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
}

.lobbyUsersArea {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.lobbyGamesArea {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: $cfgDlgBgColor;
  width: 500px;
}

.lobbyGamesTitleArea {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.lobbyGamesTitle {
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
}

.lobbyViewCtrlPnlDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.lobbyNewGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.availGamesTable {
  margin-top: 20px;
  border-spacing: 30px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}

.availGamesTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.availGamesTable td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.lobbyJoinGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.lobbyViewSessionTimeoutDiv{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}