@import 'common';

.loginViewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loginWelcomeMsg {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

.loginInstructionText {
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.loginGoogleDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 450px;
}

.loginGoogleBtnDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-style: outset;
  border-top-color: lightGray;
  border-left-color: lightGray;
  border-radius: 5%;
}


