
body {
 background-color:white;
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.topPageArea {
  background-color: #B4DFC1;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.mainView {
  min-width: 1200px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #B4DFC1;
  height: 40px;
  width: 800px;
}

.mainMenuHeader {
  background-color: #B4DFC1;
  padding: 0;
  margin-left: 50px;
}

.mainMenuItem {
  display: inline;
  list-style-type: none;
  margin: 0;
  color: black;
  color: black;
  font-weight: bold;
  font-size: 28px;
}

.mainMenuItem a {
  color: black;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.mainMenuItem a.active {
  color: white;
}

/* This is the React Router .active class for when I menu item is selected. */
.active {
  background-color: #067325;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.logoImage {
  width: 50px;
  height: 50px;
}

.logoTextContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 60px;
}

.logoJenningsText {
  font-family: SansSerif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: darkblue;
  margin-left: 10px;
}

.logoGamingText {
  font-family: SansSerif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #ff0000;
  margin-left: 5px;
}

.contentArea {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameView {
  display: flex;
  justify-content: center;
  min-width: 1200px;
  max-height: 860px;
}

.missionText {
  font-family: SansSerif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.gameArea {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* background-color: #47686b; */
  background-color: #24756c;
  min-width: 0;
  min-height: 0;
  height: 880px;
}

.gameInfoArea {
  background-color: lightGray;
  grid-row: 1 / span 8;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #262673;
}

.gameTitleArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameTitle {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.gameInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.gameName {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamTitle {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.playerName {
  font-weight: normal;
  font-size: 20px;
  color: white;
  margin-left: 30px;
}

.teamScoreDiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.teamScoreTitle {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-left: 30px;
}

.teamScore {
  font-weight: normal;
  font-size: 20px;
  color: white;
  margin-left: 10px;
}

.gameStatusDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

.statusTitle {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.gameStatusEntryDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

.statusText {
  font-family: SansSerif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  margin-left: 30px;
}

.gameInfoCtrlPnlDiv {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameInfoRefreshBtn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  font-family: SansSerif;
  font-size: 16px;
}

.oppCard {
  width: 90px;
  height: 120px;
}

.oppCardHoriz {
  width: 70px;
  height: 50px;
}

.oppCardHorizWrapper {
  overflow: hidden;
}

.oppCardHorizWrapper:last-child, .oppCardHorizWrapper:hover {
  overflow: visible;
}

.oppCardHoriz {
  width: 100px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftPlayerCardArea {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 400px;
  max-height: 400px;
  margin-bottom: 10px;
}

.rightPlayerCardArea {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  height: 400px;
  max-height: 400px;
  margin-top: 10px;
}

.topPlayerArea {
  grid-row: 1 / span 2;
  grid-column-start: 3;
  grid-column-end: 6;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5%;
  background-color: #b3cacc;
  margin: 10px;
  height: 190px;
}

.topPlayerCardArea {
  width: 85%;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 10px;
}

.leftPlayerArea {
  grid-row: 2 / span 7;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
  background-color: #b3cacc;
  border-radius: 5%;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  margin: 10px;
  height: 600px;
}

.rightPlayerArea {
  grid-row: 1 / span 6;
  grid-column-start: 6;
  grid-column-end: 7;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-evenly;
  align-items: center;
  background-color: #b3cacc;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 5%;
  margin: 10px;
  height: 600px;
}


.bottomPlayerArea {
  grid-row: 7 / span 2;
  grid-column-start: 3;
  grid-column-end: 7;
  margin: 10px;
  background-color: #b3cacc;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 190px;
  margin: 10px;
}

.playerImageDiv {
  width: 150px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.otherPlayerImageDiv {
  width: 150px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 15%;
}

.playerImage {
  width: 150px;
  height: 170px;
  border-radius: 15%;
}

.selectedCardArea {
  animation: blinkingBorder 1s step-end infinite;
}

.bottomPlayerCardArea {
  min-width: 600px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.oppCardVertWrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.oppCardVertWrapper:last-child, .oppCardVertWrapper:hover {
  overflow: visible;
  margin: 0;
  padding: 0;
}

.oppCardVert {
  min-width: 75px;
  min-height: 100px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: contain;
}


/* BLINKING BORDER */

@keyframes blinkingBorder {
  from, to {
    border-color: transparent
  }
  50% {
    border: solid 8px blue;
  }
}

@keyframes blinkingText {
  0%{     color: #000;        }
  49%{    color: #000;        }
  60%{    color: transparent; }
  99%{    color: transparent; }
  100%{   color: #000;        }
}





.lobbyView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbyWelcomeDiv {
  margin-top: 40px;
}

.lobbyInfoDiv {
  margin-top: 20px;
}

.lobbyWelcomeMsg {
  font-weight: bold;
  font-size: 24px;
}

.lobbyInfoMsg {
  font-weight: normal;
  font-size: 22px;
}

.lobbyItemsArea {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
}

.lobbyUsersArea {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.lobbyGamesArea {
  display: flex;
  flex-direction: column;
}

.lobbyUsersTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lobbyGamesTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loggyGamesTitle {
  font-weight: normal;
  font-size: 20px;
}

.lobbyNewGameBtn {
  margin-left: 10px;
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.availGamesTable {
  margin-top: 10px;
  border-spacing: 30px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}

.availGamesTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.availGamesTable td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.lobbyJoinGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.loginViewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.loginWelcomeMsg {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

.loginInstructionMsg {
  margin-top: 20px;
}

.loginInstructionText {
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.loginUserLabel {
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
}

.loginUserText {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  width: 300px;
}

.loginPasswordLabel {
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.loginPasswordText {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}

.loginBtnDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginSubmitBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

/* The gray background for modal dialog. */
.modalBackdropStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backgroundColor: lightGray;
  padding: 50px;
}

/* The modal "window" */
.modalStyle {
  backgroundColor: white;
  borderRadius: 5;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.newGameDlgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cce5d9;
  border-style: inset;
  border-width: 2px;
  border-color: #B4DFC1;
  margin-top: 10px;
}

.newGameDlgFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.newGameDlgGameNameLabel {
  margin-top: 10px;
}

.newGameDlgGameNameText {
  margin-top: 10px;
  width: 200px;
}

.newGameDlgGameTypeLabel {
  margin-top: 20px;
}

.newGameDlgGameTypeText {
  margin-top: 10px;
}

.newGameBtnDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newGameSubmitBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.newGameCancelBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.gameSetupDlgDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #cce5d9;
  border-style: inset;
  border-width: 2px;
  border-color: #B4DFC1;
}

.gameSetupGameTbl {
  margin: 10px;
}

.gameSetupGameTbl td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.gameSetupPlayerLabel {
  padding-left: 20px;
}

.gameSetupBtnPnl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.enterGameBtnDiv {
  margin-top: 10px;
}

.enterGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.leaveGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.homeDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.homeViewLinksSection {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 40px;
}

.homeViewSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.homeViewLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.homeViewText {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.homeViewLink {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.homeViewLinkImage {
  width: 120px;
  height: 80px;
  margin-right: 10px;
}

.homeViewImage {
  width: 300px;
  height: 180px;
}

.storeViewTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.storeViewGameDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-color: lightGray;
  border-width: 1px;
  margin-top: 20px;
}

.storeViewGameTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.storeViewGameLineDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.storeViewGameImage {
  width: 180px;
  height: 240px;
  border-style: outset;
  border-color: lightblue;
  border-width: 2px;
  margin-left: 20px;
}

.storeViewGameDescDiv {
  margin-left: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.storeViewGameText {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.storeViewGameInTextImage {
  width: 130px;
  height: 180px;
  margin: 10px;
}

.reviewViewContentDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width: 900px;
  margin-top: 20px;
}

.reviewViewReviewMainDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 20px;
  width: 900px;
}

.reviewViewReviewDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-style: solid;
  border-color: lightGray;
  border-width: 1px;
  width: 800px;
}

.reviewViewGameImage {
  margin-left: 10px;
  width: 150px;
  height: 100px;
  margin-right: 20px;
}

.reviewViewReviewContentsDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.reviewViewGameTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.reviewViewGameText {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.reviewViewTextDiv{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 40px;
  width: 900px;
}

.reviewViewText {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.reviewViewStatementDiv {
  margin-top: 80px;
  width: 900px;
}

.guidesViewContentDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  width: 900px;
  margin-top: 20px;
}

.guidesViewTitleDiv {

}