
body {
 background-color:black;
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
}

.mainView {
  min-width: 1200px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #B4DFC1;
  height: 40px;
}

.mainMenuLogoDiv {
  margin-left: 20px;
}

.mainMenuHeader {
  background-color: #B4DFC1;
  padding: 0;
  margin-left: 100px;
}

.mainMenuItem {
  display: inline;
  list-style-type: none;
  margin: 0;
  color: black;
}

.mainMenuItem a {
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.mainMenuItem a.active {
  color: white;
}

/* This is the React Router .active class for when I menu item is selected. */
.active {
  background-color: #067325;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.logo {
  width: 30px;
  height: 30px;
}

.logoJennings {
  font-family: SansSerif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: darkblue;
  margin-left: 10px;
}

.logoGames {
  font-family: SansSerif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: red;
  margin-left: 5px;
}

.contentArea {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameView {
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

.gameArea {
  width: 98%;
  height: 98%;
  display: grid;
  /*
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
   */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #47686b;
  min-width: 0;
  min-height: 0;
}

.gameInfoArea {
  background-color: lightGray;
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}

.gameTitleArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameTitle {
  font-weight: bold;
  font-size: 40px;
  color: blue;
}

.gameInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

.gameName {
  font-weight: bold;
  font-size: 26px;
  color: #47686b;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teamTitle {
  font-weight: bold;
  font-size: 26px;
  color: #47686b;
  margin-left: 10px;
  margin-top: 10px;
}

.playerName {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  margin-left: 30px;
}

.teamScoreDiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.teamScoreTitle {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin-left: 30px;
}

.teamScore {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  margin-left: 10px;
}

.gameStatusDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

.statusTitle {
  font-weight: bold;
  font-size: 26px;
  color: #47686b;
  margin-left: 10px;
  margin-top: 10px;
}

.statusText {
  font-family: SansSerif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  margin-left: 30px;
}

.controlPanelDiv {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.updateBtn {

}

.stat {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}


.oppCard {
  width: 90px;
  height: 120px;
}

.oppCardHoriz {
  width: 70px;
  height: 50px;
}

.oppCardHorizWrapper {
  overflow: hidden;
}

.oppCardHorizWrapper:last-child, .oppCardHorizWrapper:hover {
  overflow: visible;
}

.oppCardHoriz {
  width: 100px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftPlayerCardArea {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 300px;
  margin-bottom: 10px;
}

.rightPlayerCardArea {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  min-height: 300px;
  margin-top: 10px;
}

.topPlayerArea {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 6;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
  background-color: #b3cacc;
  margin: 10px;
}

.topPlayerCardArea {
  width: 85%;
  min-width: 300px;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-left: 10px;
}

.leftPlayerArea {
  grid-row-start: 2;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
  background-color: #b3cacc;
  border-radius: 10%;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  margin: 10px;
}

.tableArea {
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 6;
  border-radius: 40% 40% 40% 40%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  /* background-image: url("./images/card-table.png"); */
  background-size: cover;
}

.tableTopCardArea {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 7;
  border: none;
}

.tableLeftCardArea {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 4;
  border: none;
}

.tableRightCardArea {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 8;
  grid-column-end: 10;
  border: none;
}

.tableBottomCardArea {
  grid-row-start: 6;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 7;
  border: none;
}

.tableCard {
  width: 200px;
  height: 240px;
}

.dealDiv {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
  height: 60px;
  font-family: SansSerif;
  font-size: 30px;
  font-weight: bold;
  animation: blinkingBorder 1s step-end infinite;
}

@keyframes blinkingBorder {
  from, to {
    border-color: transparent
  }
  50% {
    border: solid 8px yellow;
  }
}

.dealSpan {
  font-family: SansSerif;
  font-size: 30px;
  font-weight: normal;
  color: white;
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0%{     color: #000;        }
  49%{    color: #000;        }
  60%{    color: transparent; }
  99%{    color: transparent; }
  100%{   color: #000;        }
}

.rightPlayerArea {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 6;
  grid-column-end: 7;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-evenly;
  align-items: center;
  background-color: #b3cacc;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 10%;
  margin: 10px;
}

.bottomPlayerArea {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 7;
  margin: 10px;
  background-color: #b3cacc;
  border-style: inset;
  border-color: #47686b;
  border-width: 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.playerImageDiv {
  width: 200px;
  height: 260px;
  margin: 10px;
}

.playerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: solid;
  border-width: 8px;
  border-color: transparent;
  border-radius: 50% 50%;
}

.selectedPlayerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: solid;
  border-width: 8px;
  border-color: transparent;
  border-radius: 50% 50%;
  -webkit-animation: borderBlink 1s step-end infinite;
  animation: borderBlink 1s step-end infinite;
}

.bottomPlayerCardArea {
  width: 85%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.bottomPlayerCardWrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bottomPlayerCardWrapper:last-child, .bottomPlayerCardWrapper:hover {
  overflow: visible;
  margin: 0;
  padding: 0;
}

.bottomPlayerCardButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 98%;
  min-height: 98%;
}

.bottomPlayerCard {
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

.oppCardVertWrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width:
}

.oppCardVertWrapper:last-child, .oppCardVertWrapper:hover {
  overflow: visible;
  margin: 0;
  padding: 0;
}

.oppCardVert {
  min-width: 75px;
  min-height: 100px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: contain;
}



/* BLINKING BORDER */

@-webkit-keyframes borderBlink {
  from, to {
    border-color: transparent
  }
  50% {
    border: solid 8px yellow;
  }
}
@keyframes borderBlink {
  from, to {
    border-color: transparent
  }
  50% {
    border: solid 8px yellow;
  }
}




.lobbyView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbyWelcomeDiv {
  margin-top: 20px;
}

.lobbyInfoDiv {
  margin-top: 20px;
}

.lobbyWelcomeMsg {
  font-weight: bold;
  font-size: 20px;
}

.lobbyInfoMsg {
  font-weight: bold;
  font-size: 16px;
}

.lobbyItemsArea {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.lobbyUsersArea {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}

.lobbyGamesArea {
  display: flex;
  flex-direction: column;
}

.lobbyUsersTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lobbyGamesTitleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lobbyNewGameBtn {
  margin-left: 10px;
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.availGamesTable {
  margin-top: 10px;
  border-spacing: 30px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}

.availGamesTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.availGamesTable td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
}

.lobbyJoinGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
}

.loginViewDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.loginWelcomeMsg {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.loginInstructionMsg {
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px;
}

.loginUserLabel {
  margin-top: 10px;
}

.loginUserText {
  margin-top: 10px;
  width: 300px;
}

.loginPasswordLabel {
  margin-top: 20px;
}

.loginPasswordText {
  margin-top: 10px;
}

.loginBtnDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginSubmitBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

/* The gray background for modal dialog. */
.modalBackdropStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backgroundColor: lightGray;
  padding: 50px;
}

/* The modal "window" */
.modalStyle {
  backgroundColor: white;
  borderRadius: 5;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.newGameDlgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cce5d9;
  border-style: inset;
  border-width: 2px;
  border-color: #B4DFC1;
  margin-top: 10px;
}

.newGameDlgFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.newGameDlgGameNameLabel {
  margin-top: 10px;
}

.newGameDlgGameNameText {
  margin-top: 10px;
  width: 200px;
}

.newGameDlgGameTypeLabel {
  margin-top: 20px;
}

.newGameDlgGameTypeText {
  margin-top: 10px;
}

.newGameBtnDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newGameSubmitBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.newGameCancelBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.gameSetupDlgDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #cce5d9;
  border-style: inset;
  border-width: 2px;
  border-color: #B4DFC1;
}

.gameSetupGameTbl {
  margin: 10px;
}

.gameSetupGameTbl td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.gameSetupPlayerLabel {
  padding-left: 20px;
}

.enterGameBtnDiv {
  margin-top: 10px;
}

.enterGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}

.leaveGameBtn {
  padding: 4px;
  background-color: #067325;
  color: white;
  border-radius: 10%;
  width: 100px;
}
